:root {
	--primary: rgba(0, 0, 0, 0.9);
	--secondary: #9a9ec3;
	--accent: #b5b5f0;
	--active: #d6d6e6;
	--text: white;
}
body {
	padding: 0px;
	margin: 0px;
	background-color: white;
	/* background-image: url("https://i.ibb.co/3mTcjbH/dream-big-with-purple.jpg"); */
	background-size: 100%;
	background-position: top;
}

/* NAV */
nav {
	top: 0;
	left: 0;
	height: 80px;
	background-color: var(--primary);
	padding: 0 10%;
}
nav img {
	display: inline;
	height: 60px;
	padding: 10px 0px;
	float: left;
}
nav .nav-text {
	float: left;
	margin-left: 20px;
	margin-top: 14px;
}
nav h2 {
	font-size: 28px;
	color: var(--accent);
	font-weight: 300;
	margin: 0px;
	line-height: 1.0;
}
nav span {
	font-size: 16px;
	font-style: italic;
	text-align: center;
}
nav .active {
	color: var(--active);
}
footer .footer-right {
	float: right;
	text-align: right;
}
.nav-link {
	font-size: 14px;
	color: var(--accent);
	font-weight: 300;
	margin-left: 5%;
	line-height: 80px;
	font-family: Avenir;
}

/* CONTENT */
.content {
	margin: 8% 8% 0% 8%;
	background-color: var(--primary);
	padding: 5%;
}
.content-left {
	box-sizing: border-box;
	width: 52%;
	display: inline-block;
}
.content-right {
	box-sizing: border-box;
	display: inline-block;
	width: 44%;
	float: right;
	padding: 2%;
	background-color: var(--secondary);
	overflow: scroll;
}

/* TEXT */
h1 {
	font-family: Marion;
	color: var(--text);

}
h2 {
	font-family: Marion;
}
h3 {
	font-family: Marion;
}
h4 {
	font-family: Avenir;
	line-height: .5;
	font-weight: 100;
	padding: 0px;
}

p {
	font-family: Avenir;
	font-weight: 300;
	line-height: 2.0;
	color: var(--text);
}
a {
	color: var(--accent);
	text-decoration: none;
	transition: .2s all;
	opacity: .8;
}
a:hover {
	opacity: 1;
}
.image-link {
	opacity: 1;
}
.image-link:hover {
	opacity: .85;
}

/* FOOTER */
footer {
	box-sizing: border-box;
	height: 5%;
	background-color: var(--primary);
	padding: 1% 4%;
	margin-top: 80px;
}
footer p {
	padding: 0px;
	margin: 0px;
	line-height: 45px;
	vertical-align: top;
}

/* MISC. CLASSES */
hr {
	border: 1px solid var(--text);
}
.tab {
	margin-left: 40px;
}

/* SPONSOR TABLE */
table {
	border-spacing: 0px 40px;
}
table tr td img {
	width: 160px;
}
table h2 {
	margin: 0px 20px;
}
.button {
	display: block;
	width: 140px;
	height: 30px;
	line-height: 30px;

	background-color: var(--accent);

	text-align: center;
	font-family: Avenir;
	color: var(--primary);
	font-weight: 100;
	font-size: 15px;
}

/* MEDIA */
@media screen and (max-width: 1054px) {
	footer {
		height: 100px;
	}
}
@media screen and (max-width: 770px) {
	nav {
		height: 160px;
		padding: 0% 2%;
	}
}
@media screen and (max-width: 541px) {
	footer {
		height: 140px;
	}
}
@media screen and (max-width: 391px) {
	footer {
		height: 180px;
	}
}
@media screen and (max-width: 341px) {
	footer {
		height: 220px;
	}
}